html{
    font-family: 'Quicksand', sans-serif;
}
.back{
    /* background-image: url(mount.JPG);
    background-size: cover; */
    background-color: #022F40;
    height: 100vh;
}
.heading1{
    color: blue;
}

input{
    width: 75%;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 1px;
    font-size: 30px;
    /* border-style: solid;
    border-width: 6px;
    border-radius: 4px;
    border-color: black; */
}

.searchdiv{
    margin: auto;
    width: 35%;
    padding-top:3%;
    padding-bottom: 5%;
}

.one{
    text-align: center;
}
.two{
    text-align: center;
    
}

.oneheading{
padding-top: 6%;
padding-bottom: 7%;
}

.topcont{
    background-color: #38AECC;
    width: 800px;
    height: 350px;
    margin: auto;
    border-radius: 10px;
    font-family: 'Quicksand', sans-serif;
    color: #C2F8CB;
}

.fa-sun{
    color: #FFCC00;
}

.condition{
    padding-top: 10%;
    font-size: 3rem;
}

.feels{
    padding-top: 7%;
}

.temperat{
    font-size: 4rem;
    float: left;
    padding-left: 26%;
}

.highlow{
    font-size: 2rem;
}

.lowhigh{
    width: 60%;
    margin: auto;
}

.humpre{
    width: 60%;
    margin: auto;
}

.sun{
    font-size: 3rem;
}

.clouds{
    font-size: 4.5rem;
    /* color: rgb(184, 179, 179); */
    color: #C2F8CB;
}

.locatebutton{
    width: 25%;
    height: 40px;
    float: right;
}
